@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display'); */
/*
$xv : #807e7a;
$xvi : #aa0012;
$xvii : #e6c55a;
$xviii : #006d77;
$xix : #4d95b8;
*/
/*
$xv : #ffcb85;
$xvi : #ffc5d9;
$xvii : #fdf5c9;
$xviii : #c2f2d0;
$xix : #b8f1fd;
*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(to bottom right, #fff4e5, #fff4e5 70%);
}

main {
  max-height: 100%;
  overflow-x: hidden;
  perspective: 1.1px;
  perspective-origin: center top;
  transform-style: preserve-3d;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 840px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.hdcontainer {
  margin: auto;
  padding: 0px 40px 20px 40px;
  width: auto;
  position: relative;
  vertical-align: top;
  /*  
     background-image: linear-gradient(
  	to right,

  	#462523 0,
    #cb9b51 22%, 
  	#f6e27a 45%,
  	#f6f2c0 50%,
  	#f6e27a 55%,
  	#cb9b51 78%,
  	#462523 100%
  	);
     color:transparent;
     -webkit-background-clip:text;
    */
  transform-origin: center top;
  transform: translateZ(-0.6px) scale(1.6);
}
.hdcontainer h1 {
  text-align: center;
  /* color:darken($maincolor,10); */
  color: #1e1e20;
  margin-bottom: 0px;
  text-decoration: none;
  font-weight: 700;
  font-size: min(max(54pt, 90vw), 72pt);
}
.hdcontainer h2 {
  text-align: center;
  font-weight: normal;
  margin-top: 5px;
  letter-spacing: 3px;
}
.hdcontainer h3 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  /* color:darken($maincolor,10); */
  color: #ff0066;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 8px;
  letter-spacing: 3px;
  font-size: 20pt;
}
.hdcontainer h5 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  /* color:darken($maincolor,10); */
  color: #ff0066;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 8px;
  letter-spacing: 3px;
  font-size: 12pt;
}

hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #ff0066;
}

.container {
  margin: auto;
  padding: 0px 40px;
  width: auto;
  transform: translateZ(0);
}
.container h4 {
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0px;
}

dl card {
  /* color:$wht; */
  font-family: "Playfair Display", serif;
  font-size: 1.75em;
  position: relative;
  text-align: center;
  border-radius: 16px;
  min-height: 320px;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}
dl card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: #fff;
  box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2), 5px 0 5px 0 rgba(0, 0, 0, 0.1);
}
dl card dt, dl card dtxv, dl card dtxvi, dl card dtxvii, dl card dtxviii, dl card dtxix, dl card dd {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-radius: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 60px;
}
dl card dt {
  color: #fcfcfc;
  background: #41a1d0;
  z-index: 2;
  font-style: italic;
  transform: rotateX(0deg);
}
dl card dt:before {
  content: attr(part) "";
  font-style: normal;
  font-size: 0.6em;
  opacity: 0.7;
}
dl card dtxv {
  color: #fcfcfc;
  background: #ffcb85;
  z-index: 2;
  font-style: italic;
  transform: rotateX(0deg);
}
dl card dtxv:before {
  content: attr(part) "";
  font-style: normal;
  font-size: 0.6em;
  opacity: 0.7;
}
dl card dtxvi {
  color: #fcfcfc;
  background: #f98aab;
  z-index: 2;
  font-style: italic;
  transform: rotateX(0deg);
}
dl card dtxvi:before {
  content: attr(part) "";
  font-style: normal;
  font-size: 0.6em;
  opacity: 0.7;
}
dl card dtxvii {
  color: #fcfcfc;
  background: #f5e16e;
  z-index: 2;
  font-style: italic;
  transform: rotateX(0deg);
}
dl card dtxvii:before {
  content: attr(part) "";
  font-style: normal;
  font-size: 0.6em;
  opacity: 0.7;
}
dl card dtxviii {
  color: #fcfcfc;
  background: #5dd9c4;
  z-index: 2;
  font-style: italic;
  transform: rotateX(0deg);
}
dl card dtxviii:before {
  content: attr(part) "";
  font-style: normal;
  font-size: 0.6em;
  opacity: 0.7;
}
dl card dtxix {
  color: #fcfcfc;
  background: #80daed;
  z-index: 2;
  font-style: italic;
  transform: rotateX(0deg);
}
dl card dtxix:before {
  content: attr(part) "";
  font-style: normal;
  font-size: 0.6em;
  opacity: 0.7;
}
dl card dd {
  background: #fff4e5;
  transform: rotateX(180deg);
  margin: 0;
  color: blk;
}
dl card dd:after {
  content: attr(part) "";
  font-style: italic;
  font-size: 0.8em;
  opacity: 0.7;
}
dl [class*=-slide] {
  transition: all 0.5s ease;
  transform: scale(0.95);
  perspective: 1500px;
  margin: 40px 25px;
  outline: none;
  opacity: 0.8;
}
dl [class*=-current] {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 1;
}
dl [class*=-current].flip card {
  transform: rotateX(180deg);
}

/*Messaggio cookies */
postcss-preset-env {
  stage: 0;
}

/* helpers/fixed.css */
.fixed {
  position: fixed;
  will-change: transform;
}

.fixed--bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

/* layout/base.css */
/*
:root {
  --bodyFontFamily: sans-serif;
  --bodyLineHeight: 1.5;
}
*/
/*
body {
  font-family: var(--bodyFontFamily);
  line-height: var(--bodyLineHeight);
  margin: 0;
}
*/
/* modules/anchor.css */
:root {
  --anchorColor: inherit;
}

a {
  color: var(--anchorColor);
}

/* modules/button.css */
:root {
  --buttonBorderWidth: 0.0625em;
  --buttonPaddingHorizontal: 1em;
  --buttonPaddingVertical: 0.5em;
  --buttonHoverBackgroundColor: #3b3e59;
}

button {
  background-color: transparent;
  border: 0;
  color: #d9dade;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}

.button {
  border-style: solid;
  border-width: var(--buttonBorderWidth);
  padding: var(--buttonPaddingVertical) var(--buttonPaddingHorizontal);
  position: relative;
}

.button::after {
  background-color: var(--buttonHoverBackgroundColor);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
  will-change: opacity;
  z-index: -1;
}

.button:focus::after,
.button:hover::after {
  opacity: 1;
}

/* modules/cookie-disclaimer.css */
:root {
  --cookieDisclaumerBackgroundColor: #0f1216;
  --cookieDisclaumerColor: #fff;
  --cookieDisclaumerFontSize: 0.75rem;
  --cookieDisclaumerPadding: 0.75rem;
}

.cookie-disclaimer {
  background-color: var(--cookieDisclaumerBackgroundColor);
  color: var(--cookieDisclaumerColor);
  font-size: var(--cookieDisclaumerFontSize);
  opacity: 0;
  padding: var(--cookieDisclaumerPadding);
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.5s;
}

.cookie-disclaimer.is-active {
  opacity: 1;
  transform: translateY(0);
}

.cookie-disclaimer :first-child {
  margin-top: 0;
}

.cookie-disclaimer :last-child {
  margin-bottom: 0;
}

/* modules/media.css */
:root {
  --mediaObjectMarginHorizontal: 1em;
}

.media {
  display: flex;
}

.media--center {
  align-items: center;
}

.media__object--left {
  margin-right: var(--mediaObjectMarginHorizontal);
}

.media__object--right {
  margin-left: var(--mediaObjectMarginHorizontal);
  order: 1;
}

.media__body {
  flex-grow: 1;
}

.made-with-love {
  width: auto;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.7);
}
.made-with-love i {
  font-style: normal;
  color: #c4333d;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}

.manoslide {
  position: center;
  color: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  width: 100px;
  height: 40px;
  animation: loading 6s ease infinite;
  animation-direction: left;
  margin: auto;
}

.alignment {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: transparent;
  border-right: transparent;
}

@keyframes loading {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(50px) rotateZ(10deg);
  }
  20% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(-50px) rotateZ(-10deg);
  }
  40% {
    transform: translateX(0px);
  }
  45% {
    transform: translateX(0px) scale(0.85);
  }
  48% {
    transform: translateX(0px) scale(1);
  }
}
.popup-link {
  display: flex;
  flex-wrap: wrap;
}

.popup-link a {
  background: #333;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  margin: 20px;
  text-decoration: none;
}

.popup-container {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 17, 17, 0.61);
  display: flex;
  align-items: center;
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
}

.popup-content p {
  font-size: 17px;
  padding: 10px;
  line-height: 20px;
}

.popup-content a.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.popup-content a.close:hover {
  color: #333;
}

.popup-content span:hover,
.popup-content span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-container:target {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.popup-container h3 {
  margin: 10px;
}

/*End popup styles*/
